.form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-size: 18px;
}
.form > input {
    border-radius: 0.5em;
    margin: 10px;
    padding: 1em;
    color: #0a0a75;
    border: 1px solid rgba(0,0,0,.2);
    transition: .2s;
    outline: none;
}
.form > input[type=submit]:hover {
    cursor: pointer;
}
.form > input:focus {
    box-shadow: 0 13px 14px -10px rgba(0,0,0,.2), 0 0 10px 0 rgba(0,0,0,.05);
}
.form > .button {
    margin: 10px;
}